body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/polloBG.jpg');
    min-height: 100vh;
    margin: 0;
    background-position: center;
}

canvas {
    background-color: black;
}

#menu {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 15px;
    background-color: chocolate;
    transition: background-color 0.3s ease;
}

button:hover {
    cursor: pointer;
    background-color: yellowgreen;
}

#story-container {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 700px
}

.story-content{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.return-button{
    display: flex;
}

.description-div{
    display: flex;
    height: 60px;
    flex-direction: row;
    gap: 20px;
    margin: 10px;
    background-color: aqua;
    justify-content: center;
}

img {
    height: 30px;
    width: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

p{
    display: flex;
    margin: 0px;
}

.explain-div{
    display:flex;
    max-height: 50px;
    flex-direction: column;
    gap: 0px;
    text-align: center;
    align-items: center;
}

.game-over-screen {
    background-image: url('img/9_intro_outro_screens/game_over/game over.png');
    background-size: cover; /* Hintergrundbild auf die gesamte Größe des Elements ausdehnen */
    background-position: center; /* Hintergrundbild zentrieren */
    position: fixed;
    top: 8.5%; /* Anpassung auf 0, um von oben zu starten */
    left: 50%; /* Anpassung auf 50%, um in der Mitte zu starten */
    transform: translateX(-50%); /* Zentrieren des Elements relativ zu seiner Breite */
    width: 720px; /* 100% der Viewport-Breite */
    height: 480px; /* 100% der Viewport-Höhe */
    display: none;
    z-index: 3;
    backdrop-filter: blur(10px);
}

.game-over-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.option-div {
    display: flex;
    flex-direction: column;
}
