body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./img/polloBG.jpg"); 
  height: 100%;
  margin: 0;
  background-position: center;
}

@font-face {
  font-family: "La Tequila";
  src: url("./fonts/La Tequila.ttf") format("truetype");
}

canvas {
  background-color: black;
  display: block;
}

h1 {
  font-family: "La Tequila";
}

#menu {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 15px;
  border-radius: 15px;
  background-color: chocolate;
  transition: background-color 0.3s ease;
  max-width: 150px;
}

button:hover {
  cursor: pointer;
  background-color: yellowgreen;
}

#story-container {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  backdrop-filter: blur(10px);
}

.story-content {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
  font-size: 15px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.return-button {
  display: flex;
}

.description-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  font-size: 13px;
  border-radius: 15px;
  justify-content: center;
}

img {
  height: 30px;
  width: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

p {
  display: flex;
  margin: 0px;
}

.explain-div {
  display: flex;
  max-height: 50px;
  flex-direction: column;
  gap: 0px;
  text-align: center;
  align-items: center;
}

.game-over-screen {
  background-image: url("img/9_intro_outro_screens/game_over/game over.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 3;
  backdrop-filter: blur(10px);
}

.game-over-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.option-div {
  display: flex;
  flex-direction: column;
}

.leaderboard-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
}

.leaderboard-list {
  display: flex;
  flex-direction: column;
}

.leaderboard-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.leaderboard-entry span {
  flex: 1;
}

.leaderboard-entry .rank {
  width: 50px;
  text-align: center;
}

.leaderboard-entry .name {
  margin-left: 20px;
}

.leaderboard-entry .score {
  width: 50px;
  text-align: right;
  font-weight: bold;
  color: #007bff;
}

.container-for-information {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 15px;
}

.notes-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding-top: 90px;
}

.touch-panels {
  display: none;
  position: absolute;
  width: 100%;
  height: 20%;
  justify-content: space-between;
  align-items: end;
  bottom: 0;
}

.left-panels {
  display: flex;
  gap: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
}

.right-panels {
  display: flex;
  gap: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.panel-images {
  width: 40px;
  height: 40px;
}

.change-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 3;
  backdrop-filter: blur(10px);
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

.rotate-screen {
  display: flex;
  width: 100%;
  height: 80%;
}

